<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="日曆.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <日曆.Properties.Settings>
            <setting name="WindowPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>77</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value />
            </setting>
            <setting name="Mood" serializeAs="String">
                <value>初始心情</value>
            </setting>
            <setting name="Weather" serializeAs="String">
                <value>初始天氣</value>
            </setting>
            <setting name="Content" serializeAs="String">
                <value>初始文本內容</value>
            </setting>
        </日曆.Properties.Settings>
    </userSettings>
</configuration>